$color_blue1 : #18D0DE;

.font-CircularStd_Black{ font-family: 'CircularStd_Black'; }
.font-CircularStd_Bold_Italic{ font-family: 'CircularStd_Bold_Italic'; }
.font_CircularStd_Bold{ font-family: 'CircularStd_Bold'; }
.font_CircularStd_Bold_Italic{ font-family: 'CircularStd_Bold_Italic'; }
.font_CircularStd_Medium{ font-family: 'CircularStd_Medium'; }
.font_CircularStd_Medium_Italic{ font-family: 'CircularStd_Medium_Italic'; }
.font_CircularStd_Book{ font-family: 'CircularStd_Book'; }
.font_CircularStd{ font-family: 'CircularStd'; }